@tailwind base;
@tailwind components;

html {
  @apply font-body antialiased;
}

@tailwind utilities;

#particles-js {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #047857;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.custom-hover-image {
    background-color: #04785781;
    color: #fff;
    z-index: 1000;
}
.background-custom {
    background-color: aqua;
}